@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.popup-enter {
  animation: slide-up 0.6s ease-out forwards;
}

.popup-exit {
  animation: slide-down 0.6s ease-out forwards;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.dropdown::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.dropdown::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.dropdown::-webkit-scrollbar-thumb:hover {
  background: transparent;
}