{
  "openapi": "3.0.1",
  "info": {
    "title": "Layerswap API V2",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.layerswap.io",
      "description": "Mainnet"
    }
  ],
  "paths": {
    "/api/v2/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2/networks": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "network_types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "evm",
                  "starknet",
                  "solana",
                  "cosmos",
                  "starkex",
                  "zksynclite",
                  "ton",
                  "paradex",
                  "tron"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "chain_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "node_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "enum": [
                              "evm",
                              "starknet",
                              "solana",
                              "cosmos",
                              "starkex",
                              "zksynclite",
                              "ton",
                              "paradex",
                              "tron"
                            ],
                            "type": "string"
                          },
                          "transaction_explorer_template": {
                            "type": "string"
                          },
                          "account_explorer_template": {
                            "type": "string"
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              },
                              "contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "decimals": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "price_in_usd": {
                                "type": "number",
                                "format": "double"
                              },
                              "precision": {
                                "type": "number",
                                "format": "double"
                              },
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "evm_oracle_contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "evm_multicall_contract": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "deposit_methods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "tokens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sources": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "destination_network",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "destination_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "include_swaps",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_unavailable",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_unmatched",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "network_types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "evm",
                  "starknet",
                  "solana",
                  "cosmos",
                  "starkex",
                  "zksynclite",
                  "ton",
                  "paradex",
                  "tron"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "chain_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "node_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "enum": [
                              "evm",
                              "starknet",
                              "solana",
                              "cosmos",
                              "starkex",
                              "zksynclite",
                              "ton",
                              "paradex",
                              "tron"
                            ],
                            "type": "string"
                          },
                          "transaction_explorer_template": {
                            "type": "string"
                          },
                          "account_explorer_template": {
                            "type": "string"
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              },
                              "contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "decimals": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "price_in_usd": {
                                "type": "number",
                                "format": "double"
                              },
                              "precision": {
                                "type": "number",
                                "format": "double"
                              },
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "evm_oracle_contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "evm_multicall_contract": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "deposit_methods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "tokens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "refuel": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "logo": {
                                          "type": "string"
                                        },
                                        "contract": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "decimals": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "price_in_usd": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "precision": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "listing_date": {
                                          "type": "string",
                                          "format": "date-time"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "network": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "display_name": {
                                          "type": "string"
                                        },
                                        "logo": {
                                          "type": "string"
                                        },
                                        "chain_id": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "node_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "type": {
                                          "enum": [
                                            "evm",
                                            "starknet",
                                            "solana",
                                            "cosmos",
                                            "starkex",
                                            "zksynclite",
                                            "ton",
                                            "paradex",
                                            "tron"
                                          ],
                                          "type": "string"
                                        },
                                        "transaction_explorer_template": {
                                          "type": "string"
                                        },
                                        "account_explorer_template": {
                                          "type": "string"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "contract": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "decimals": {
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "price_in_usd": {
                                              "type": "number",
                                              "format": "double"
                                            },
                                            "precision": {
                                              "type": "number",
                                              "format": "double"
                                            },
                                            "listing_date": {
                                              "type": "string",
                                              "format": "date-time"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "listing_date": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "evm_oracle_contract": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "evm_multicall_contract": {
                                              "type": "string",
                                              "nullable": true
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "deposit_methods": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "amount": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "amount_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/destinations": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "source_network",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "source_token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "include_swaps",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_unavailable",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_unmatched",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "network_types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "evm",
                  "starknet",
                  "solana",
                  "cosmos",
                  "starkex",
                  "zksynclite",
                  "ton",
                  "paradex",
                  "tron"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "logo": {
                            "type": "string"
                          },
                          "chain_id": {
                            "type": "string",
                            "nullable": true
                          },
                          "node_url": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "enum": [
                              "evm",
                              "starknet",
                              "solana",
                              "cosmos",
                              "starkex",
                              "zksynclite",
                              "ton",
                              "paradex",
                              "tron"
                            ],
                            "type": "string"
                          },
                          "transaction_explorer_template": {
                            "type": "string"
                          },
                          "account_explorer_template": {
                            "type": "string"
                          },
                          "token": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string"
                              },
                              "logo": {
                                "type": "string"
                              },
                              "contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "decimals": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "price_in_usd": {
                                "type": "number",
                                "format": "double"
                              },
                              "precision": {
                                "type": "number",
                                "format": "double"
                              },
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "additionalProperties": false
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "listing_date": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "evm_oracle_contract": {
                                "type": "string",
                                "nullable": true
                              },
                              "evm_multicall_contract": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "additionalProperties": false
                          },
                          "deposit_methods": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "tokens": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "refuel": {
                                  "type": "object",
                                  "properties": {
                                    "token": {
                                      "type": "object",
                                      "properties": {
                                        "symbol": {
                                          "type": "string"
                                        },
                                        "logo": {
                                          "type": "string"
                                        },
                                        "contract": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "decimals": {
                                          "type": "integer",
                                          "format": "int32"
                                        },
                                        "price_in_usd": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "precision": {
                                          "type": "number",
                                          "format": "double"
                                        },
                                        "listing_date": {
                                          "type": "string",
                                          "format": "date-time"
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "network": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "display_name": {
                                          "type": "string"
                                        },
                                        "logo": {
                                          "type": "string"
                                        },
                                        "chain_id": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "node_url": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "type": {
                                          "enum": [
                                            "evm",
                                            "starknet",
                                            "solana",
                                            "cosmos",
                                            "starkex",
                                            "zksynclite",
                                            "ton",
                                            "paradex",
                                            "tron"
                                          ],
                                          "type": "string"
                                        },
                                        "transaction_explorer_template": {
                                          "type": "string"
                                        },
                                        "account_explorer_template": {
                                          "type": "string"
                                        },
                                        "token": {
                                          "type": "object",
                                          "properties": {
                                            "symbol": {
                                              "type": "string"
                                            },
                                            "logo": {
                                              "type": "string"
                                            },
                                            "contract": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "decimals": {
                                              "type": "integer",
                                              "format": "int32"
                                            },
                                            "price_in_usd": {
                                              "type": "number",
                                              "format": "double"
                                            },
                                            "precision": {
                                              "type": "number",
                                              "format": "double"
                                            },
                                            "listing_date": {
                                              "type": "string",
                                              "format": "date-time"
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "metadata": {
                                          "type": "object",
                                          "properties": {
                                            "listing_date": {
                                              "type": "string",
                                              "format": "date-time"
                                            },
                                            "evm_oracle_contract": {
                                              "type": "string",
                                              "nullable": true
                                            },
                                            "evm_multicall_contract": {
                                              "type": "string",
                                              "nullable": true
                                            }
                                          },
                                          "additionalProperties": false
                                        },
                                        "deposit_methods": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "nullable": true
                                        }
                                      },
                                      "additionalProperties": false
                                    },
                                    "amount": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "amount_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    }
                                  },
                                  "additionalProperties": false
                                }
                              },
                              "additionalProperties": false
                            }
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/limits": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "source_network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "source_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "destination_network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "destination_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "use_deposit_address",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refuel",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "min_amount_in_usd": {
                          "type": "number",
                          "format": "double"
                        },
                        "min_amount": {
                          "type": "number",
                          "format": "double"
                        },
                        "max_amount_in_usd": {
                          "type": "number",
                          "format": "double"
                        },
                        "max_amount": {
                          "type": "number",
                          "format": "double"
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/quote": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "source_network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "source_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "destination_network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "Ethereum Mainnet": {
                "value": "ETHEREUM_MAINNET"
              },
              "Arbitrum Mainnet": {
                "value": "ARBITRUM_MAINNET"
              },
              "Optimism Mainnet": {
                "value": "OPTIMISM_MAINNET"
              },
              "Starknet Mainnet": {
                "value": "STARKNET_MAINNET"
              },
              "Solana Mainnet": {
                "value": "SOLANA_MAINNET"
              }
            }
          },
          {
            "name": "destination_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ETH": {
                "value": "ETH"
              },
              "USDC": {
                "value": "USDC"
              },
              "USDC.e": {
                "value": "USDC.e"
              },
              "WETH": {
                "value": "WETH"
              }
            }
          },
          {
            "name": "source_address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slippage",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "use_deposit_address",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "refuel",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote": {
                          "type": "object",
                          "properties": {
                            "total_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "total_fee_in_usd": {
                              "type": "number",
                              "format": "double"
                            },
                            "source_network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "source_token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "destination_network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "destination_token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "receive_amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "min_receive_amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "blockchain_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "service_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "avg_completion_time": {
                              "type": "string"
                            },
                            "refuel_in_source": {
                              "type": "number",
                              "format": "double",
                              "nullable": true
                            },
                            "slippage": {
                              "type": "number",
                              "format": "double"
                            }
                          },
                          "additionalProperties": false
                        },
                        "refuel": {
                          "type": "object",
                          "properties": {
                            "token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "amount_in_usd": {
                              "type": "number",
                              "format": "double"
                            }
                          },
                          "additionalProperties": false
                        },
                        "reward": {
                          "type": "object",
                          "properties": {
                            "token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "amount_in_usd": {
                              "type": "number",
                              "format": "double"
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/swaps/{swapId}": {
      "get": {
        "tags": [
          "Swaps"
        ],
        "parameters": [
          {
            "name": "swapId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "exclude_deposit_actions",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "source_address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "metadata": {
                          "type": "object",
                          "additionalProperties": {}
                        }
                      },
                      "additionalProperties": false
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote": {
                          "type": "object",
                          "properties": {
                            "total_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "total_fee_in_usd": {
                              "type": "number",
                              "format": "double"
                            },
                            "source_network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "source_token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "destination_network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "listing_date": {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "evm_oracle_contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "evm_multicall_contract": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  },
                                  "additionalProperties": false
                                },
                                "deposit_methods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "nullable": true
                                }
                              },
                              "additionalProperties": false
                            },
                            "destination_token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "receive_amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "min_receive_amount": {
                              "type": "number",
                              "format": "double"
                            },
                            "blockchain_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "service_fee": {
                              "type": "number",
                              "format": "double"
                            },
                            "avg_completion_time": {
                              "type": "string"
                            },
                            "refuel_in_source": {
                              "type": "number",
                              "format": "double",
                              "nullable": true
                            },
                            "slippage": {
                              "type": "number",
                              "format": "double"
                            }
                          },
                          "additionalProperties": false
                        },
                        "refuel": {
                          "type": "object",
                          "properties": {
                            "token": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "contract": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "decimals": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "price_in_usd": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "precision": {
                                  "type": "number",
                                  "format": "double"
                                },
                                "listing_date": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "additionalProperties": false
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "display_name": {
                                  "type": "string"
                                },
                                "logo": {
                                  "type": "string"
                                },
                                "chain_id": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "node_url": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "evm",
                                    "starknet",
                                    "solana",
                                    "cosmos",
                                    "starkex",
                                    "zksynclite",
                                    "ton",
                                    "paradex",
                                    "tron"
                                  ],
                                  "type": "string"
                                },
                                "transaction_explorer_template": {
                                  "type": "string"
                                },
                                "account_explorer_template": {
                                  "type": "string"
                                },
                                "token": {
                                  "type": "object",
                                  "properties": {
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "logo": {
                                      "type": "string"
                                    },
                                    "contract": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "decimals": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "price_in_usd": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "precision": {
[...]
